:root {
    --gray: #d7d7d7;
    --blue: #46647c;
    --black: #333;
    --orange: #e65624;
    --deep-blue: #282c38;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


.main-section {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-section .title-section {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.main-section .title-section h1{
    font-size: 3rem;
    margin-bottom: 2.4rem;
    align-self: left;
}

#hr-title {
    width: 100%;
    display: grid;
    grid-template-areas: 'left right';
    grid-template-columns: 35% 1fr;
    margin-bottom: 1.2rem;
    align-items: baseline;
}

h1{
    font-size: 300%;
}

.paddingSidebar{
    margin-left: 2%;
    margin-top: 1%;
}