<body>
    <section class="hr-users">
        <div>
            <h1>¿Estas seguro que quieres cerrar la sesión actual?</h1>
            <div id="hr-title">
                <div class="button-section">
                    <div class="add-user-button-center">
                        <a class="add-user">Cancelar</a>
                    </div>
                    <div class="add-user-button-right">
                        <a class="add-user">Guardar</a>
                    </div>
                </div>
            </div>
        </div>  
    </section>    
</body>
