<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IPS Central | Login</title>
</head>
<body>
  <main>

    <div class="text">
      <div class="text-title">
        <p>Inflection Point Systems</p>
      </div>
      <div class="text-header">
        <p>IPS Central</p>
      </div>
      <div class="text-description">
        <p>Somos expertos en transformación digital y trabajamos con empresas de sectores verticales como el financiero, la sanidad, la educación, la seguridad, la alta tecnología y la hostelería, entre otros. Nuestro equipo de diseñadores de UI/UX, analistas de negocio, consultores, desarrolladores de software e ingenieros de control de calidad trabaja estrechamente con nuestros clientes para entender su negocio y construir la tecnología y las plataformas para acelerar su innovación y crecimiento.</p>
      </div>
    </div>

    <div  class="images">
      <div class="logo-section">
        <img src="http://localhost:4200/assets/ips_logo.jpeg" title="IPS Logo">
      </div>
  
      <div class="sign-in-section">
        <input class="sign-in-button" type="image" src="http://localhost:4200/assets/loginAssets/ms-signin-button.svg" (click)="login()"> 
      </div>

    </div>

</main>
</body>
<footer>
  <app-footer></app-footer>
</footer>

