@import url(https://fonts.googleapis.com/css?family=Montserrat);

/**========================================================================
 *                           MAIN CONTAINER
 *========================================================================**/
body{
  font-family: 'Montserrat', sans-serif;
}

 .container{
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  margin: 10px;
  background-color: #d7d7d7;
  border-radius: 5px;
  padding-bottom: 5px;
  max-height: 650px;
  min-height: 650px;
  overflow-y: auto;
}

.summary-date{
  /* Borde */
  border-radius: 20px;

  /* Tamanio */
  width: fit-content;
  padding: 10px;
  margin: 10px;

  /* Formato */
  background-color: #fe8760;
  /* list-style-type: none; */
  cursor: pointer;
}

.day{
  /* Borde */

  /* Tamanio */
  /* padding-top: 5px; */

  /* Formato */
}

/**========================================================================
 *                           ANIMACIONES
 *========================================================================**/

@keyframes open {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

/* closing animation */
@keyframes close {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    /* transform: translateY(-1vw); */
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    /* margin-left: 0px */
  }
}

.day[open] .info{
  animation: fadeIn 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  /* animation-iteration-count: infinite; */
}


/**========================================================================
 *                           INFO CONTAINER
 *========================================================================**/
.info {
/* Borde */
  border-radius: 10px;

  /* Tamanio */
  margin-bottom: 15px;
  margin-left: 50px;
  max-height: 150px;
  width: 974px;
  height: 125px;

  /* Formato */
  background: radial-gradient(#58e9f7, #51c2ff);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
  grid-template-columns: 100px 799px 75px;
  transition: all 0.2s;
  display: grid;
}

.info:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

/**========================================================================
 *                           INFO LEFT
 *========================================================================**/
.info-left{
  /* Borde */

  /* Tamanio */

  /* Formato */
  grid-template-rows: 75% 25%;
  display: grid;
}

.eval0{
  background:url("/assets/icons/peerIcon.png") no-repeat;
  background-size: cover;
  width: 75px;
  height: 75px;
  justify-self: center;
  align-self: center;
  margin: 0;
}

.eval1{
  background:url("/assets/icons/teamIcon.png") no-repeat;
  background-size: cover;
  width: 75px;
  height: 75px;
  justify-self: center;
  align-self: center;
  margin: 0;
}

.eval2{
  background:url("/assets/icons/leaderIcon.png") no-repeat;
  background-size: cover;
  width: 75px;
  height: 75px;
  justify-self: center;
  align-self: center;
  margin: 0;
}



/**========================================================================
 *                           INFO MIDDLE
 *========================================================================**/
.info-middle{
  /* Borde */

  /* Tamanio */

  /* Formato */
  grid-template-rows: 30% 70%;
  display: grid;
}

/**============================================
 *               UPPER
 *=============================================**/
 .info-middle-upper{
  /* Borde */

  /* Tamanio */
  align-self: center;

  /* Formato */
}



 /**============================================
 *               LOWER
 *=============================================**/
.info-middle-lower{
  background-color: #7acbfa;
  border-radius: 5px;
  margin: 5px;
  border-style: inset;
  overflow-y: auto;
  max-height: 77.51px;
}

.textbox{
  margin: 0;
  padding: 5px;
  word-wrap: break-word;
}

/**========================================================================
 *                           INFO RIGHT
 *========================================================================**/
.info-right{
  justify-self: center;
  align-self: center;
}

 .request0{
  background:url("/assets/icons/teamRemovingIcon.png") no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.request0:hover{
  filter: drop-shadow(3px 3px 2px #ff0000);
  transform: scale(1.05);
  transition: .5s;
}

.request1{
  background:url("/assets/icons/teamAddingIcon.png") no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.request1:hover{
  filter: drop-shadow(3px 3px 2px #17b81f);
  transform: scale(1.05);
  transition: .25s;
}




.info_link{
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.info_link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.info_link:hover::after {
  width: 100%;
}